@font-face {
    font-family: 'Roboto-Light';
    src: url(./fonts/Roboto-Light.ttf);
}

body {
    margin: 0;
    font-family: Roboto-Light;
    color: #2d3436;
    font-size: 1.25em;
}

#app-wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    max-height: 100vh;
}

/*
 Right side data panel
*/
#data-panel-wrapper {
    width: 45%;
    background-color: #ffffff;
    overflow-y: hidden;
}

#data-panel-wrapper .title {
    background-color: #008ac9;
    color: #ffffff;
    font-size: 1.75em;
    text-align: center;
    min-height: 5vh;
}

#network-data {
    height: 35vh;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 0 0 10px 10px;
}

#network-data .node-listing {
    margin-top: .5em;
    display: flex;
}

#network-data .node-listing .edge-listing {
    margin-left: 5px;
}

#selected-object-data {
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
}

#selected-object-data .selected-title {
    text-align: center;
    font-size: 1.5em;
}

.selected-data-nodes .selected-title {
    color: #008ac9;
}
.selected-data-nodes span {
    color: #008ac9;
}

.selected-data-edges .selected-title {
    color: #ff6f7a;
}
.selected-data-edges span {
    color: #ff6f7a;
}


/*
 Left side graph viewer
*/

#graph-canvas-wrapper {
    width: 100%;
}

#graph-canvas-wrapper .vis-network {
    outline: none;
    background-color: #2d2d2d;
}

#hover-data-panel {
    width: 20%;
    height: 20%;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    color: #ffffff;
    padding: 10px 0 0 10px;
}

#hover-data-panel .data {
    color: #ff69a6;
}

#hover-data-panel .data span {
    color: #ffffff;
}

/*
 Mobile CSS
*/

@media only screen and (max-width: 900px) {
    #app-wrapper {
        display: flex;
        flex-direction: column;
    }

    #data-panel-wrapper {
        width: 100vw;
    }

    #selected-object-data {
        height: 40vh;
    }

    #graph-canvas-wrapper {
        height: 60vh;
    }

    #hover-data-panel {
        font-size: .75em;
    }
}
