@font-face {
    font-family: 'Roboto-Light';
    src: url(./fonts/Roboto-Light.ttf);
}

body {
    margin: 0;
    font-family: Roboto-Light;
    color: #2d3436;
    font-size: 1.25em;
}

#app-wrapper {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    max-height: 100vh;
}

/*
 Right side data panel
*/
#data-panel-wrapper {
    width: 45%;
    background-color: #ffffff;
    overflow-y: hidden;
}

#data-panel-wrapper .title {
    background-color: #008ac9;
    color: #ffffff;
    font-size: 1.75em;
    text-align: center;
    min-height: 5vh;
}

#network-data {
    height: 35vh;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 0 0 10px 10px;
}

#network-data .node-listing {
    margin-top: .5em;
    display: flex;
}

#network-data .node-listing .edge-listing {
    margin-left: 5px;
}

#selected-object-data {
    height: 100vh;
    padding: 10px;
    overflow-y: auto;
}

#selected-object-data .selected-title {
    text-align: center;
    font-size: 1.5em;
}

.selected-data-nodes .selected-title {
    color: #008ac9;
}
.selected-data-nodes span {
    color: #008ac9;
}

.selected-data-edges .selected-title {
    color: #ff6f7a;
}
.selected-data-edges span {
    color: #ff6f7a;
}

#toggle-edit-button {
    font-size: 1em;
    position: relative;
    margin-top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}


/*
 Left side graph viewer
*/

#graph-canvas-wrapper {
    width: 100%;
}

#graph-canvas-wrapper .vis-network {
    outline: none;
    background-color: #2d2d2d;
}

#hover-data-panel {
    width: 20%;
    height: 20%;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    color: #ffffff;
    padding: 10px 0 0 10px;
}

#hover-data-panel .data {
    color: #ff69a6;
}

#hover-data-panel .data span {
    color: #ffffff;
}

/*
 Json edit panel
*/
#edit-view-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#json-edit-panel {
    width: 60vw;
    background: #2d2d2d;
}

#json-edit-panel textarea {
    margin: 1em;
    width: 95%;
    height: 95%;
    font-size: 1em;
    resize: none;
    outline: none;
}

#submission-panel {
    width: 40vw;
    padding: 1em;
}

#submission-panel #instructions #example {
    display: flex;
}

#submission-panel #instructions #title {
}

#example textarea {
    width: 100%;
    margin: 10px 0 0 10px;
    resize: none;
    outline: none;
    font-size: .65em;
}

#validation-status {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

#validation-status .validation {
    display: flex;
    margin-top: .25em;
}

#validation-status .validation .validation-name {
    width: 85%;
    margin-right: 5%;
}

#validation-status .validation .validation-status {
    width: 10%;
    background: #00ff00;
    text-align: center;
}

#validation-status .validation .validation-status.invalid {
    background: #ff0000;
}

/*
 Mobile CSS
*/

@media only screen and (max-width: 900px) {
    #app-wrapper {
        display: flex;
        flex-direction: column;
    }

    #data-panel-wrapper {
        width: 100vw;
        max-height: 40vh;
        overflow-y: scroll;
    }

    #data-panel-wrapper .title {
        position: absolute;
        width: 100vw;
    }

    #selected-object-data {
        padding-top: 5vh;
        height: inherit;
    }

    #graph-canvas-wrapper {
        height: 60vh;
    }

    #hover-data-panel {
        font-size: .75em;
        width: auto;
    }
}
