body {
    margin: 0;
}

#app-wrapper {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

#data-panel-wrapper {
    width: 45%;
    background-color: lime;
}

#graph-canvas-wrapper {
    width: 100%;
}

#graph-canvas-wrapper .vis-network {
    outline: none;
    background-color: #7f7f7f;
}